.glass{
    background: url('../assets/images/background.jpg') no-repeat top;
    background-size: cover;
}

.card-model{
    width: 350px;
    height: 500px;
    background: url('../assets/images/model.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.card-model img{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-30%);
}

.card-model .card-desc{
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 132, 0, 0.217);
}

.list-glass{
    display: flex;
}

.glass-item{
    border: 2px solid transparent;
    transition: all 0.4s;
    cursor: pointer;
}

.glass-item:hover{
    border: 2px solid black;
}