button{
    width: 70px;
    height: 50px;
}

span{
    padding: 3px 10px;
    border-radius: 5px;
    background: rgb(214, 3, 3);
    color: white;
    cursor: pointer;
    border: 6px solid rgb(214, 3, 3);
    transition: all 0.4s;
}

span:hover{
    background: rgb(241, 21, 21);
    border: 6px solid rgb(199, 5, 5);
}
.container{
    font-size: 20px;
}